@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (webmaster@h1994st.com)
 * @date    2014-05-24 12:33:33
 * @version 1.0
 */

html {
  font-family: sans-serif;
  color: #131313;
}
textarea {
  resize: none;
  width: 100%;
  overflow-x: hidden;
  border-radius: 6px;
  border: 1px solid #cacaca;
}

header {
  border-bottom: 1px solid #cacaca;
}
header * {
  text-align: center;
}
header h1 small {
  color: #a5a5a5;
}

h4 {
  color: #3BA4DF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 780px;
}

.algorithm-detail,
.algorithm-result {
  width: 50%;
  float: left;
}